hr{
   border: dotted #E5BA73 ;
   border-bottom: none;
    
    width: 4%;
    margin:6.25rem auto ;
} 
 body{
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    color: #F56EB3;
    font-size:5.56em;
    margin: 3.125rem auto 0 auto;
    font-family: "Sofia", sans-serif; 
   
   

}
h2{
    font-family: "Rubik Bubbles";
    color: #2146C7;
    font-size: 4rem;
}
h3{
    
    font-family: Sacramento; 
    font-size: 3.125rem;
    color:#F56EB3
    
}
a{
    font-family: sans-serif;
    margin:1.25rem 0.625rem;
    color:#F56EB3;
    text-decoration: none;
    
}
a:hover{
    color: white;
}


.p{
    font-family:sans-serif
}



.top-container{
   
    background-color:#F9B5D0 ;
    
    position: relative;
    padding-top: 12.5rem;
    
   
   
    
    
}
.middle-container{
    background-color:#A5F1E9 ;
    
    
}
.bottom-container{

    background-color:#DEBACE;
    padding:1.25rem 0 0.625rem;
   
    
}
.stu{
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-size: 1.875rem;
    color: #F56EB3;
    

}
.topcloud{
    color: skyblue;
    position: absolute;
    right: 18.75rem;
    top: 3.125rem;
}
.bottomcloud{
    position: absolute;
    top: 18.75rem;
}

.Skills{
    
    width: 25rem;
    
}

.btn {
    background: #DEBACE;
    background-image: -webkit-linear-gradient(top, #DEBACE, #F56EB3);
    background-image: -moz-linear-gradient(top, #DEBACE, #F56EB3);
    background-image: -ms-linear-gradient(top, #DEBACE, #F56EB3);
    background-image: -o-linear-gradient(top, #DEBACE, #F56EB3);
    background-image: linear-gradient(to bottom, #DEBACE, #F56EB3);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 1.25rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.contact-me{
        font-family: "Trirong", serif;
        
      }
 .pp{
        font-size: 1.875rem;
        color: #411530;
        font-family: IBM Plex Mono;
        
      }
.qq{
        font-size: 1.563rem;
      }
.ww{
        font-size: 1.875rem;
        color: #411530;
        font-family: IBM Plex Mono;
      }
.ee{
        font-size: 1.563rem;
        color: #411530;
        font-family: IBM Plex Mono;

      
    }
.pa{
        
        height: 18.75rem;
        position: absolute;
        right: 6.25rem;
        
    }
.bird{
    position: absolute;
    height: 6.25rem;
    left: 6.25rem;
    top: 6.25rem;
}  
.image2{
    position: absolute;
    height: 6.25rem;
    right: 6.25rem;
    top: 15.625rem;
} 
.fat{
    position: absolute;
    left: 2.5rem;
    top: 40.128rem;
    height: 12.5rem;
} 
.mount{
    position: relative;
    padding-left: 37.5rem;
    
    
    
    
    
}
@media (max-width:500px){
    .middle-container{
        height: 100%;
        width: 100%;
        padding: 1000px 0;
    }
    .mount{
        padding-left: 5px;
    }
 .pa{
    height: 80px ;
    right: 0px;
        
    
 }   
 .ww{
    font-family: "Rubik Bubbles";
    color: #2146C7;
    font-size: 30px;
   
 }
 .rr{
    font-family: Sacramento; 
    font-size: 30px;
    color:#F56EB3;

 }
 .topcloud{
    height: 30px;
    left: 10px;
    top: 250px;
 }
 .bird{
    padding: 0;
    left: 10px;
    
 }
 .mount{
    height: 100px;
    padding: 0 50px;
    left: 90px;
 }
 .fat{
    height: 110px;
    padding: 0;
    left: 10px;
    top: 350px;
 }
.zx{
    font-size: 30px;
}
.stu{
    font-size: 20px;
}
.bottomcloud{
    height:30px;
    right: 10px;
    padding: 0;
    top: 20px;
}
 
}

    






    
      


